body {
    background-image:url("../images/tommyswag.png");
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
header {
    border:3px solid black;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.your-score {
    border: 3px solid black;
    display: flex;
    justify-content: center;
}
.highScores {
background-color: antiquewhite;
}

.finalscores {
    background-color: antiquewhite;
}

.timer {
    border: 3px solid black;
    display:flex;

}
.intro {
    border:3px solid black;
    height: 500px;
    display: flex;
    align-items: center; 
}

#intro-words {
    border:3px solid black;
    background-color: antiquewhite;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.start-button {
border:3px solid black;
height: 100px;
}

.hide{
    display: none;
}

#quiz {
    background-color: antiquewhite;
}

#question-box{
    width: 50vw;
    height: 100vh;
    position: relative;
}